body {
    font-size: 1.7rem;
}

h3 {
    text-align: center;
}

p {
    font-size: 2.5rem;
}

@media screen and (max-width: 700px) {
    p {
        font-size: 2rem;
    }
    body {
        font-size: 1rem;
    }
}